@font-face {
  font-family: Virgil;
  src: url(./fonts/Virgil.woff2) format("opentype");
}

* {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Virgil, sans-serif;
  color: white;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game{
  border: 3px solid white;
  height:60vh;
  width: 80vw;
  margin-top: 1em;
  border-radius: 30px;
  padding: 1em;
  display: grid;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  min-height: 700px;
}
.time{
  align-self: flex-start;
  justify-self: flex-start;

}
.contentDiv{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
}

.mixedLanguage{
  font-size: 2em;
}

.typeYourAnswer{
  font-size: 2em;
  margin-top: 1.2em;
  border: none;
  border-bottom: 1px solid;
}

.typeYourAnswer:focus{
  border: transparent;
  outline: none;
  border-bottom: 1px solid;
  text-align: center;
}

.keyboard{
  margin-top: 80px;
  text-align: center;
}

.keyboard button{
  font-size: 20px;
  height: 65px;
  width: 65px;
  margin: 5px;
  border-radius: 5px;
}

.confirm{
  font-size: 2em;
  margin-top: 2em;
  background-color:white;
  color: black;
  cursor: pointer;
  width: 200px;
  height:65px;
}

.confirm:hover{
  background-color: rgb(194, 194, 194);

}

.confirm:active{
  background-color: black;
  color:white;
}

.counter{
  display:flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.counter label, .h2{
  padding-right: 20px;
}

.counter label{
  margin-right: 50px;
}